<html>
    <head>
    <!--<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.1.4/angular.min.js"></script>-->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0-rc.2/angular.min.js"></script>
    <script type="text/javascript">
        function ConvertDegToRad(deg)
        {
            return (deg * Math.PI)/180;
        }
        
        function ConvertRadToDeg(rad)
        {
            return (rad * 180) / 180;
        }

        function RingModel(title, radius, center)
        {
            var self = this;
            self.title = title;
            self.radius = radius;
            self.y = center.y+ radius -10;
            self.x = center.x; 
            self.blips = [];
            self.addBlip = function(blipModel)
            {
                self.blips.push(blipModel);
                calculateBlipPositions();
            }
            self.removeBlip = function()
            {
                self.blips.pop();
                calculateBlipPositions();
            }

            function calculateMaxNumberOfBlipsForRing(radius, distancePerBlib, numberOfGroups)
            {
                var diameter = radius * 2;
                var circumference = diameter * Math.PI;
                var groupArchCircumference = circumference / numberOfGroups;
                return Math.floor(groupArchCircumference / distancePerBlib);

            }

            function calculateNumberOfBlipsForRing(startingRadius, radiusInc, ringNumber, distancePerBlib, totalLength)
            {
                var numberOfBlipsProccessedSoFar = 0;
                var itter =1;
                while(itter <=ringNumber)
                {
                    var maxNumberOfBlipsForCurrentRing = calculateMaxNumberOfBlipsForRing(startingRadius + (radiusInc * (itter-1)), distancePerBlib, 4);
                    if(itter == ringNumber)
                    {
                        if(totalLength >= numberOfBlipsProccessedSoFar + maxNumberOfBlipsForCurrentRing)
                        {
                                return maxNumberOfBlipsForCurrentRing;
                        }
                        else
                        {
                            return totalLength - numberOfBlipsProccessedSoFar;
                        }
                    }
                    numberOfBlipsProccessedSoFar = numberOfBlipsProccessedSoFar + maxNumberOfBlipsForCurrentRing;
                    itter = itter +1;
                }
            }

            function calculateBlipPositions()
            {
                //this.numberOfDegressForEachBlip = self.blips.length >1 ? 80 / self.blips.length: 40;
                this.localRadius = 40;
                var blipPosition =0;
                var radiusNumber=1;
                angular.forEach(self.blips, function(value, key){
                        blipPosition = blipPosition +1; 
                        var itteration = key +1;
                        var totalBlipsForIter = calculateNumberOfBlipsForRing(40, 10, radiusNumber, 12.563, self.blips.length);
                        var totalMaxBlipsForIter = calculateMaxNumberOfBlipsForRing(this.localRadius, 12.563, 4);
                        if(blipPosition %(totalMaxBlipsForIter+1) ==0)
                        {
                            this.localRadius = this.localRadius + 10;
                            radiusNumber = radiusNumber +1;
                            totalBlipsForIter = calculateNumberOfBlipsForRing(40, 10,radiusNumber, 12.563, self.blips.length);
                            totalMaxBlipsForIter = calculateMaxNumberOfBlipsForRing(this.localRadius, 12.563, 4);
                            blipPosition=1; 
                        }
                        var numberOfDegressForEachBlip = 80 / ( totalBlipsForIter>1? totalBlipsForIter: 2);
                        var angle = blipPosition * numberOfDegressForEachBlip;
                        var newY = Math.sin(ConvertDegToRad(angle)) * localRadius;
                        var newX = Math.cos(ConvertDegToRad(angle)) * localRadius;
                        value.x = center.x + newX;
                        value.y = center.y - newY;
                },this);
                /*if(self.blips[0])
                {
                    self.blips[0].x = center.x + 38.45;
                    self.blips[0].y = center.y - 11.02;
                }
                if(self.blips[1])
                {
                    self.blips[1].x = center.x +33.92;
                    self.blips[1].y = center.y-21.19;
                }*/
            }
        }

        function BlipModel(id, name, isNew)
        {
            var self = this;
            self.id = id;
            self.name = name;
            self.isNew = isNew;
            self.x = undefined;
            self.y = undefined;
        }

        function TechRadarModel (centerX, centerY){
            var self = this;
            self.rings = [];
            self.centerCords = {'x':centerX, 'y':centerY}
            self.init = function()
            {
                self.addRing(new RingModel('test', 40, self.centerCords));
                self.addRing(new RingModel('bob', 60, self.centerCords));

                self.rings[0].addBlip(new BlipModel('1', 'test', true));
                self.rings[0].addBlip(new BlipModel('2', 'test', true));
            }

            self.addRing = function(ringModel)
            {
                self.rings.push(ringModel);
            }
            self.removeRing = function()
            {
                self.rings.pop();
            }
        }
        function MyController($scope) {

            var self = this;
            self.centerCords= {'x': 500, 'y': 250};
            $scope.model = new TechRadarModel(self.centerCords.x, self.centerCords.y);
            $scope.model.init();
            $scope.addRing = function()
            {
                    var numberOfRings = $scope.model.rings.length;
                    $scope.model.addRing(new RingModel('frank', numberOfRings ?$scope.model.rings[numberOfRings-1].radius + 40 : 40,self.centerCords));
            }

            $scope.removeRing = function()
            {
                $scope.model.removeRing();
            }
            $scope.addBlip = function(){
                $scope.model.rings[0].addBlip(new BlipModel('3', 't', false));
            }
            $scope.removeBlip = function(){
                $scope.model.rings[0].removeBlip();
            }
        }
    </script>
    </head>
    <body ng-app ng-controller="MyController">
        <div ng-attr-cx="{{bob}}">
            some text in here
        </div>
        <svg xmlns="http://www.w3.org/2000/svg" version="1.1">
            <line x1="500" y1="250" x2="500" y2="0" stroke="black" stroke-width="2"/>
            <line x1="500" y1="250" x2="750" y2="250" stroke="black" stroke-width="2"/>
            <line x1="500" y1="250" x2="500" y2="700" stroke="black" stroke-width="2"/>
            <line x1="500" y1="250" x2="100" y2="250" stroke="black" stroke-width="2"/>
            <circle ng-repeat-start="ring in model.rings" cx="500" cy="250" ng-attr-r="{{ring.radius}}" stroke="black" stroke-width="2" fill="none"/>
            <circle ng-repeat="blip in ring.blips" ng-attr-cx="{{blip.x}}" ng-attr-cy="{{blip.y}}" r="2" stroke="black" stroke-width="2" fill="black"/>
            <circle ng-repeat-end/>
            <!--<circle ng-attr-cx="{{500+ 38.45}}" ng-attr-cy="{{250-11.02}}" r="2" stroke="black" stroke-width="2" fill="black"/>-->
            <!--<circle ng-attr-cx="{{500+ 33.92}}" ng-attr-cy="{{250-21.19}}" r="2" stroke="black" stroke-width="2" fill="black"/>-->
            <!--<circle ng-attr-cx="{{500+ 26.76}}" ng-attr-cy="{{250-29.72}}" r="2" stroke="black" stroke-width="2" fill="black"/>-->
            <!--<circle ng-attr-cx="{{500+ 17.53}}" ng-attr-cy="{{250-35.95}}" r="2" stroke="black" stroke-width="2" fill="black"/>-->
            <!--<circle ng-attr-cx="{{500+ 6.94}}" ng-attr-cy="{{250-39}}" r="2" stroke="black" stroke-width="2" fill="black"/>-->
            <text ng-repeat="ring in model.rings" fill="black" ng-attr-x="{{ring.x}}" ng-attr-y="{{ring.y}}" >{{ring.title}}</text>
        </svg>
        <input type="button" value="addNewCircle()" ng-click="addRing()"/>
        <input type="button" value="removeCircle()" ng-click="removeRing()"/>
        <input type="button" value="addBlip" ng-click="addBlip()"/>
        <input type="button" value="removeBlip" ng-click="removeBlip()"/>
    </body>
</html>
