<html>
    <head>
    <!--<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.1.4/angular.min.js"></script>-->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0-rc.2/angular.min.js"></script>
    <script type="text/javascript" src="techradarapp/techapp.js"></script>
    <script type="text/javascript" src="techradarapp/controllers/techRadarController.js"></script>
    <script type="text/javascript" src="techradarapp/factories/trigFunctions.js"></script>
    </head>
    <body ng-app="TechRadarApp" ng-controller="TechRadarController">
        <svg xmlns="http://www.w3.org/2000/svg" version="1.1">
            <line x1="500" y1="250" x2="500" y2="0" stroke="black" stroke-width="2"/>
            <line x1="500" y1="250" x2="750" y2="250" stroke="black" stroke-width="2"/>
            <line x1="500" y1="250" x2="500" y2="700" stroke="black" stroke-width="2"/>
            <line x1="500" y1="250" x2="100" y2="250" stroke="black" stroke-width="2"/>
            <circle ng-repeat-start="ring in model.rings" cx="500" cy="250" ng-attr-r="{{ring.radius}}" stroke="black" stroke-width="2" fill="none"/>
            <circle ng-repeat="blip in ring.blips" ng-attr-cx="{{blip.x}}" ng-attr-cy="{{blip.y}}" r="2" stroke="black" stroke-width="2" fill="black"/>
            <text ng-repeat-end ng-repeat="ring in model.rings" fill="black" ng-attr-x="{{ring.x}}" ng-attr-y="{{ring.y}}" >{{ring.title}}</text>
        </svg>
        <input type="button" value="addNewCircle()" ng-click="addRing()"/>
        <input type="button" value="removeCircle()" ng-click="removeRing()"/>
        <input type="button" value="addBlip" ng-click="addBlip()"/>
        <input type="button" value="removeBlip" ng-click="removeBlip()"/>
    </body>
</html>
