.legend
{
    border-color:black;
    border-width:2px;
    border-style: solid;

    width: 230px;
    height: 270px;
    overflow:auto;
}
svg
{
    height: 600px;
}
#group0
{
    position: absolute;
    top: 0px;
    left: 800px;
}
#group1
{
    position: absolute;
    top: 300px;
    left: 800px;
}
#group2
{
    position: absolute;
    top: 300px;
    left: 10px;
}
#group3
{
    position: absolute;
    top: 10px;
    left: 10px;
}

.addNewBlip
{
    position: relative;
    top: -100px;
    left: 300px;

}
.highlighted
{
    color: blue;
    font-weight: bold;
}
.selectedBlip
{
    color: red;
    font-weight: bold;
}
#filter
{
    position: absolute;
    left: 1060px;
}
